{% extends 'layout.html' %}

{% load static %}
{% block title %}Facepass{% endblock %}
{% block content %}
<div class="container" style="height:88vh">
  <div style="padding-bottom: 2em;">
    <h1 class="text-center jumbotron">Error <i class="fa fa-frown-o" aria-hidden="true"></i>
</h1>
    <h3>Check</h3>
    <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Remove any obstructions and try again. <i class="fa fa-smile-o" aria-hidden="true"></i></p>
  </div>
  <a href="/" class="btn btn-warning"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
</div>
{% endblock %}
